body {
  font-family: 'Lato', sans-serif;
  line-height: 1.6;
  margin: 0;
  padding:  0;
  background: #f9f9f9;
  color: #333;
}

article {
  font-family: 'Lato', sans-serif;
  line-height: 1.6;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-top: 1rem;
  padding: 0;
  background: #f9f9f9;
  color: #333;
}

header {
  text-align: center;
  padding: 1rem;
  background: #333;
  color: white;
}

nav a {
  margin: 0 10px;
  color: #f9f9f9;
  text-decoration: none;
}

section {
  padding: 2rem;
  max-width: 800px;
  margin: auto;
}


