#particle-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: #e0e0e0;
}

header {
  font-family: 'Lato', sans-serif;
  text-align: center;
  padding: 0rem;
  color: rgb(60, 61, 71);
}

article {  
  font-family: 'Lato', sans-serif;
  line-height: 1.6;
  padding: 40px;
  color: #333;
  max-width: 1200px;
  margin: auto;
}

img {
  z-index: 1;
  width: 175px;
  float: left;
  margin: 10px;
  margin-right: 20px;
  border-radius: 30px;
}

#cert-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 40px; 
  margin: auto;
  max-width: 75%;
}

#cert-list img {
  all: unset;
  width: 100%;
  margin: auto;
  display: block;
  transition: transform 0.3s ease;
}

#cert-list img:hover {
  transform: scale(1.1);
}

#degree-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px; 
  margin: auto;
  max-width: 75%;
}

#degree-list img {
  all: unset;
  width: 230px;
  height: 67px;
  margin: auto;
  display: block;
  transition: transform 0.3s ease;
}

#project-list {
  display: grid;
  grid-template-columns: repeat(2, minmax(250px, 1fr));
  gap: 40px; 
  padding: 10px;
  margin: auto;
}

#project-list section {
  transition: all 0.3s ease;
  padding: 15px;
  border-radius: 10px;
  background-color: #f9f9f9;
  height: max-content;
  opacity: 0.9;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  color: rgb(41, 41, 47);
}

#project-list section:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.pcard {
  display: grid;
  grid-template-columns:  repeat(1, 1fr);
  gap: 20px; 
}

nav a {
  font-family: 'Lato', sans-serif;
  display: inline-block;
  color: #65606c;
  text-decoration: none;
  transition: all 0.3s ease;
  margin: 0 10px;
  padding: 5px 10px;
  white-space: nowrap;
}

nav a:hover {
  transform: scale(1.2);
  color: #0070f3;
}