#particle-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: #e0e0e0;
}

header, body, footer, article, section, iframe, .mermaid, .module, p, img, button {
  position: relative;
  z-index: 1;
}



.mermaid {
  margin: auto;
  text-align: center;
}

iframe {
  display:block;
  border:none;
  width: 950px;
  height:100vh; 
  margin: auto;
}

body {
  font-family: 'Lato', sans-serif;
  line-height: 1.6;
  margin: 0;
  padding:  0;
  color: #333;
}

article {
  font-family: 'Lato', sans-serif;
  line-height: 1.6;
  padding: 40px;
  color: #333;
  max-width: 1500px;
  margin: auto;
}

header {
  text-align: center;
  padding: 1rem;
  color: rgb(60, 61, 71);
}

nav a {
  display: inline-block;
  color: #65606c;
  text-decoration: none;
  transition: all 0.3s ease;
  margin: 0 10px;
  padding: 5px 10px;
  white-space: nowrap;
}

nav a:hover {
  transform: scale(1.2);
  color: #0070f3;
}

#blog-list {
  display: grid;
  grid-template-columns: repeat(2, minmax(250px, 1fr));
  gap: 40px; 
  padding: 10px;
  max-width: 1200px;
  margin: auto;
}

#blog-list section {
  transition: all 0.3s ease;
  padding: 15px;
  height: 150px;
  border-radius: 10px;
  background-color: #f9f9f9;
  opacity: 0.9;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  color: rgb(41, 41, 47);
}

#blog-list section:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.thumbnail img {
  width: 200px;      
  height: 150px;     
  border-radius: 8px;
}

.card {
  display: grid;
  grid-template-columns:  200px 1fr;
  gap: 20px; 
}

.pcard {
  display: grid;
  grid-template-columns:  repeat(1, 1fr);
  gap: 20px; 
}

.pthumbnail img {
  width: 303500px;      
  height: 200px;     
  border-radius: 8px;
}

#project-list {
  display: grid;
  grid-template-columns: 1;
  gap: 40px; 
  padding: 10px;
  max-width: 1200px;
  margin: auto;
}

#project-list section {
  transition: all 0.3s ease;
  padding: 15px;
  height: max-content;
  border-radius: 10px;
  background-color: #f9f9f9;
  opacity: 0.9;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  color: rgb(41, 41, 47);
}

#project-list section:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.looker-container {
margin: auto;
  position: relative;
  width: 50%;
  aspect-ratio: 16 / 9;
}

.looker-container iframe {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}