#particle-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background: #e0e0e0;
}

header, body, footer, article {
  position: relative;
  z-index: 1;
}

body {
  font-family: 'Lato', sans-serif;
  line-height: 1.6;
  margin: 0;
  padding:  0;
  background: #f9f9f9;
  color: #333;
}

article {
  font-family: 'Lato', sans-serif;
  line-height: 1.6;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-top: 1rem;
  padding: 0;
  background: #f9f9f9;
  color: #333;
}

header {
  text-align: center;
  padding: 1rem;
  color: rgb(60, 61, 71);
}

nav a {
  margin: 0 10px;
  color: rgb(60, 61, 71);
  text-decoration: none;
}

nav a:hover {
  color: #b4b4b4; 
}

section {
  padding: 2rem;
  max-width: 800px;
  margin: auto;
}


